<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqIS6H6Z3U4h00YzLSqyW7875-SBsYHW0</string>
	<key>GCM_SENDER_ID</key>
	<string>266972012359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qms.presensi</string>
	<key>PROJECT_ID</key>
	<string>presensi-app-d9e2c</string>
	<key>STORAGE_BUCKET</key>
	<string>presensi-app-d9e2c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266972012359:ios:00acd85c6b846e16667662</string>
	<key>DATABASE_URL</key>
	<string>https://presensi-app-d9e2c-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>